<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="alien" class="com.springboot.first.Alien"
		scope="prototype" autowire="byType">
		<property name="rollNo" value="20"></property>

	</bean>

	<bean id="Laptop" class="com.springboot.first.Laptop">
	</bean>
	<bean id="Desktop" class="com.springboot.first.Desktop" primary="true">
	</bean>
</beans>